<a href="https://colab.research.google.com/github/GTD2101-ACD-AB-EJ23/04-pandas-clean-VBatiz/blob/main/01.%20MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejando Datos Extraviados

En este JNB se revisará el tema de manejo de datos extraviados.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/04-pandas-clean-VBatiz/main/data/NFL.csv

In [1]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/04-pandas-clean-VBatiz/main/data/NFL.csv")

# set seed for reproducibility
np.random.seed(0)

In [2]:
nfl_data.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:2433f41d45abe53ba842b5ddc529d574d04...
1                                     size 275530460

In [3]:
!wget --no-check-certificate \
    https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv \
    -O titanic.csv

--2023-03-21 21:20:37--  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2023-03-21 21:20:37 (4.74 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [4]:
titanic_data = pd.read_csv("titanic.csv")

In [5]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
valores_nulos = titanic_data.isnull().sum()
valores_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
titanic_data.shape

(891, 12)

In [11]:
total_celdas = np.product(titanic_data.shape)
print(total_celdas)

10692

In [14]:
total_nulos = valores_nulos.sum()
print(total_nulos)

866

In [16]:
print(f"El porcentaje de celdas vacías es: {total_nulos/total_celdas*100}%")

El porcentaj de celdas vacías es: 8.099513655069211%

In [17]:
titanic_data_no_nulos = titanic_data.dropna()

In [22]:
print(titanic_data_no_nulos.shape)
print(len(titanic_data_no_nulos))

(183, 12)
183

In [21]:
titanic_data_no_nulos.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [24]:
titanic_data_col_nonulas = titanic_data.dropna(axis=1)
titanic_data_col_nonulas.head(1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.25

In [29]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         2
dtype: int64

In [28]:
titanic_data["Cabin"].fillna("Unknown", inplace = True)

In [2]:
import pandas as pd

In [3]:
nfl_data = pd.read_csv("./data/NFL.csv")

/tmp/ipykernel_10298/968197607.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv("./data/NFL.csv")

In [4]:
nfl_data.head(4)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009